

<form id="logout" method="POST" action="logout">

    {{#if error}}
        <div class="error">{{error}}</div>
    {{/if}}

    <button class="logout" type="submit">LOGOUT</button>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>