

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>petition</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>

    <main>

        <header>
            {{!-- <h1>LETS CREATE MORE PLACE FOR OUR BEEs</h1> --}}
            {{!-- <img id ="hamburger" src="/hamburgermenu.svg" alt="menü"> --}}
            {{!-- <a href="/profile-edit">PROFILE</a>
            <a href="/signers">SIGNERS</a> --}}

            {{!-- <a>LOGGED IN AS: {{firstname}}</a> --}}

        </header>

        {{{body}}}

    </main>

    <footer>

        Copyright by Me.

    </footer>

    {{!-- <script src="/signature-browser-code.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  --}}

</body>


</html>