

<div id="alles">

{{>logoutBtn}}

<div id="hintergrund">
    
<div class="containerUeberschrift">
<h1 class="ueberschrift">Bee Cool.</h1>
<p class="beschreibung">Protect the bees! By signing this petition you can contribute to the protection of our bees.</p>
<h3 class="beschreibung">PLEASE SIGN OUR PETITION!</h3>
</div>

<form id="signature-form" method="POST" action="sign-petition">

    {{#if error}}
    <div class="error">{{error}}</div>
    {{/if}}

   
    <label for="signature-canvas">SIGN HERE:</label>
    {{!-- <div id="signatureWrapper" class="">
    <img id="signature" src="/signature.png" width=400 height=70>
    </div> --}}
    <canvas id="signature-canvas" width=400 height=70></canvas>
    <input type="hidden" id="signature-code" name="signatureCode">

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button type="submit"> SIGN PETITION</button>


</form>

<a class="linksigners" href="/signers"> SEE ALL SIGNERS:</a>

</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="/signature-browser-code.js" type="text/javascript"></script>


