


<div class=containerUeberschrift>
<h1 class="ueberschrift">Be Cool.</h1>
<p class="beschreibung">ggggggnjcodahcohüfoirajpvä jfoiehnfoiae aenjvfonvigr nmkaöenfopi arnfiurbvir ndjaenfunwp4u ncojdnnoenfo nfrong nornfo norwnoig nfoiwehnfoiwn4going nnnf fjirwg kgk klk</p>
<p class="beschreibung">please sign our petition!</p>
</div>

<form id="signature-form" method="POST" action="sign-petition">

    {{#if error}}
    <div class="error">{{error}}</div>
    {{/if}}

   
    <label for="signature-canvas">SIGN HERE:</label>
    <canvas id="signature-canvas" width=400 height=70></canvas>
    <input type="hidden" id="signature-code" name="signatureCode">

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button type="submit"> SIGN PETITION</button>


</form>

<a class="linksigners" href="/signers"> SEE ALL SIGNERS:</a>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="/signature-browser-code.js" type="text/javascript"></script>


