

<h1>Login:</h1>

<form method="POST" action="/login">

    {{#if error}}
        <div class="error">{{error}}</div>
    {{/if}}


    <label for="email">EMAIL</label>
    <input id="email" value="{{email}}" name="email" type="email" placeholder="YOUR EMAIL">

    <label for="password">PASSWORD</label>
    <input id="password" value="{{password}}" name="password" type="password" placeholder="ENTER YOUR PASSWORD">

     <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button type="submit">LOGIN</button>


</form>

<p>Not registered?<a href="/register">register here to sign up the petition</a>.</p>