
<div class="thanks">

<h1> Thank you for signing our petition {{firstname}}! </h1>

<img class="canvas" src="{{signatureCode}}" alt="unterschrift">

<a class="linksigners" href="/signers"> SEE ALL SIGNERS:</a>

</div>