
<div id="alles">

{{>logoutBtn}}

<div id="hintergrund">

<div class="thanks">

<h2> Thank you for signing our petition {{firstname}}! </h2>

<img class="canvas" src="{{signatureCode}}" alt="unterschrift">




<form action="/unsign-petition" method="POST">
    <p class="thankyou">NOT SHURE ABOUT SIGNING THIS PETITION?</p>
    <button type="submit">UNSIGN</button>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>

<a class="editprofile" href="/profile-edit">EDIT YOUR PROFILE</a>

<a class="linksigners" href="/signers"> SEE ALL SIGNERS</a>
</div>

</div>
</div>