
<div id="alles">

{{>logoutBtn}}

<div id="hintergrund">

<div class="thanks">

<h2> Thank you for signing our petition {{firstname}}! </h2>

<img class="canvas" src="{{signatureCode}}" alt="unterschrift">




<form action="/unsign-petition" method="POST">
    NOT SHURE ABOUT SIGNING THIS PETITION?
    <button type="submit">UNSIGN</button>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>

<p class="editprofile" >WANT TO EDIT YOUR PROFILE? <a href="/profile-edit"> KLICK HERE</a></p>

<a class="linksigners" href="/signers"> SEE ALL SIGNERS:</a>
</div>

</div>
</div>