
<div class="thanks">

<h1> Thank you for signing our petition {{firstname}}! </h1>

<img class="canvas" src="{{signatureCode}}" alt="unterschrift">

</div>


<form action="/unsign-petition" method="POST">
    NOT SHURE ABOUT SIGNING THIS PETITION?
    <button type="submit">UNSIGN</button>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>

<p class="editprofile" ><a href="/profile-edit"> WANT TO EDIT YOUR PROFILE? </a></p>

<a class="linksigners" href="/signers"> SEE ALL SIGNERS:</a>