
/* allgemein */
html, body { margin: 0; }

body {

    background-image: url("Bienen1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
    font-family: Arial, Helvetica, sans-serif;  
}

header {

    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    line-height: 70px;
    width: 100%;
    position: fixed;

}

header a {

    margin-left: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

footer {

    height: 30px;
    background: rgba(255, 213, 0);
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    line-height: 30px;
}

/* #hamburger {

    height: 30px;
    float: right;
    margin-right: 15px;
    margin-top: 10px;

} */


/* startseite */


/* form {

    background: blue;
} */


.containerUeberschrift {

    max-width: 400px;
    /* min-width: 200px; */
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
    text-align: center;

}

.ueberschrift {

    font-size: 75px;
    text-align: left;
}

h1{

    text-align: center;
}

.beschreibung {

    text-align: left;
    line-height: 1.2em;

}

#signature-form {

    max-width: 400px;
    /* min-width: 200px; */
    height: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    
}

#signature-canvas {

    background-color: rgba(245, 244, 186, 0.7);
    border: 1px solid rgba(209, 182, 26, 0.8);
    border-radius: 5px;
    z-index: 1;
}

/* #signature {

    position: absolute;
    padding-bottom: 70px;
    
} */


button {

    background: rgb(245, 213, 10);
    border: solid 1px rgb(245, 213, 10);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 20px;
    font-size: large;
    font-weight: bold;
    
}

button:hover {

    background: rgb(198, 133, 14);
}

/* dankeseite */

.thanks {

    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;

}

.canvas {

    justify-content: center; 

}

.linksigners {

    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 40px;

}

.editprofile {

    display: flex;
    align-items: center;
    justify-content: center;

}

/* unterschriftenseite */

.signers {

    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;

}

li {
    
    font-size: larger;
    font-weight: bold;
    list-style: none; 
}


input {

    background: rgba(255, 208, 0, 0.8);
    border: rgba(209, 182, 26, 0.8);
    border-radius: 5px;
    height: 30px;
    width: 200px;
    margin: 5px;
    text-align: center;
}

input:focus {
    outline:0;
    border:2px solid rgb(255, 153, 0);
}

form {

    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.link {

    margin-bottom: 40px;

}